In [3]:
# Import main packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bokeh.palettes as palette # For palette of colors
import os
from mpl_toolkits import mplot3d

from sklearn.linear_model import LinearRegression

import bokeh.palettes as palette

In [18]:
data_1 = pd.read_csv("matrix_mul.csv")

data_2 = pd.read_csv("matrix_mul_2.csv")

In [19]:
data_1

       0.0000000000000000                   5
0                       0.00000             6
1                       0.00000             7
2                       0.00000             8
3                       0.00000             9
4                       0.00000            10
..                          ...           ...
90                      0.00000            96
91                      0.00000            97
92                      0.00000            98
93                      0.00000            99
94                      0.03125           100

[95 rows x 2 columns]